{% extends 'base.html' %}

{% block header %}
  <h1>DETAILS PAGE</h1>
{% endblock %}

{% block content %}
  <article class="post">
      <header>
        <div>
          <h3>{{post.id}}</h3>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('forum.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
{% endblock %}