{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>{{ body }}</h2>
<hr style="height: 100px">
  {% for post in posts|reverse %}
    {%if thread_id == post['thread_id'] %}
      <article class="post">
        <header>
          <div>
            <h3 class="body">{{ post['body'] }}</h3>
           {% for user in users %}
            {%if user['id'] == post['author_id'] %}
              <div class="about">by <span style="color:black">{{ user['username'] }}</span> on {{ post['created'].strftime('%Y-%m-%d') }}</div>
            {% endif %}
           {% endfor %}
          </div>
          {% if g.user['id'] == post['author_id'] %}
            <a class="action" href="{{ url_for('forum.update', id=post['id']) }}">Edit</a>
          {% endif %}
          <a class="action" href="{{ url_for('forum.details', id=post['id']) }}">Details</a>
        </header>
      </article>
      <hr>
    {% endif %}
    {% if not loop.last %}
    {% endif %}
  {% endfor %}
{% if g.user %}
  <form method="post">
    <label for="body">Comment about the topic</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Comment">
  </form>
{% endif %}
{% endblock %}